- name: Config
  hosts: nas-docker

  roles:
    - ssh_server
    - role: geerlingguy.docker
      become: true
      vars:
        docker_users:
          - "{{ ansible_user }}"
    - cifs
    - postgres
    - role: caddy
      vars:
        caddy_proxies:
          - fqdn: videoin.i.krel.ing
            real_host: nas-docker.i.krel.ing
            real_port: 25005
          - fqdn: videoin-be.i.krel.ing
            real_host: nas-docker.i.krel.ing
            real_port: 25004
          - fqdn: pgadmin.i.krel.ing
            real_host: nas-docker.i.krel.ing
            real_port: 25008

  tasks:
    - name: Create docker volume for videoin media mount
      community.docker.docker_volume:
        name: videoin_media
        state: present
        driver: local
        driver_options:
          type: cifs
          device: "//truenas.i.krel.ing/media"
          o: "username=videoin,password={{ vault.videoin_smb_password }},file_mode=0660,dir_mode=0770,rw,vers=3.0"

    - name: Create other volumes for videoin
      community.docker.docker_volume:
        name: "{{ item }}"
        state: present
      loop:
        - videoin_state
        - videoin_thumbs

    - name: Create docker container for videoin backend
      community.docker.docker_container:
        name: videoin-be
        image: krelinga/video-in-be:latest
        state: started
        restart_policy: unless-stopped
        pull: always
        ports:
          - 25004:25004
        volumes:
          - videoin_media:/nas/media
          - videoin_state:/state
          - videoin_thumbs:/thumbs
        env:
          VIDEOIN_PROJECTDIR: /nas/media/videoin/projects
          VIDEOIN_STATEDIR: /state
          VIDEOIN_THUMBSDIR: /thumbs
          VIDEOIN_UNCLAIMEDDIR: /nas/media/Rip
          VIDEOIN_LIBRARYDIR: /nas/media/Movies
          VIDEOIN_TMDBKEY: "{{ vault.tmdb_api_key }}"
          VIDEOIN_FANARTAPIKEY: "{{ vault.fanart_tv_personal_api_key }}"

    - name: Create docker container for videoin frontend
      community.docker.docker_container:
        name: videoin-fe
        image: krelinga/video-in-fe:latest
        state: started
        restart_policy: unless-stopped
        pull: always
        ports:
          - 25005:3000
        env:
          NEXT_PUBLIC_IMG_URL_PREFIX: http://videoin-be.i.krel.ing
          NEXT_PUBLIC_BACKEND_URL: http://nas-docker.i.krel.ing:25004
