- name: Ensure required caller-provided variables are set
  ansible.builtin.assert:
    that:
      - pve_server_api_host != ""
      - pve_server_root_password != ""
      - pve_server_node != ""
    fail_msg: "Required variables are not set. Please check your configuration."

- name: Discover ceph version
  ansible.builtin.shell: |
    set -o pipefail
    ceph --version | awk '{print $5}'
  register: pve_server_ceph_version
  changed_when: false
  failed_when: pve_server_ceph_version.rc != 0

- name: Discover whether apt .sources or .list is being used
  ansible.builtin.shell: |
    if ls /etc/apt/sources.list.d/*.sources &> /dev/null; then
      echo "sources"
    else
      echo "list"
    fi
  args:
    executable: /bin/bash
  register: pve_server_apt_source_type
  changed_when: false
  failed_when: pve_server_apt_source_type.rc != 0

- name: Show pve_server_apt_source_type
  ansible.builtin.debug:
    msg: "Using apt source type: {{ pve_server_apt_source_type.stdout }}"

- name: Configure PVE Repositories (.list)
  ansible.builtin.apt_repository:
    repo: "{{ item.repo }}"
    filename: "{{ item.filename }}"
    state: "{{ item.state }}"
    update_cache: false
  loop:
    - repo: "deb http://download.proxmox.com/debian/pve {{ ansible_distribution_release }} pve-no-subscription"
      filename: "pve-no-subscription"
      state: present
    - repo: "deb https://enterprise.proxmox.com/debian/pve {{ ansible_distribution_release }} pve-enterprise"
      filename: "pve-enterprise"
      state: absent
    - repo: "deb http://download.proxmox.com/debian/ceph-{{ pve_server_ceph_version.stdout }} {{ ansible_distribution_release }} no-subscription"
      filename: "ceph-no-subscription"
      state: present
    - repo: "deb https://enterprise.proxmox.com/debian/ceph-{{ pve_server_ceph_version.stdout }} {{ ansible_distribution_release }} enterprise"
      filename: "ceph-enterprise"
      state: absent
  when: pve_server_apt_source_type.stdout == "list"

- name: Configure PVE Repositories (.sources)
  ansible.builtin.deb822_repository:
    name: "{{ item.name }}"
    types: deb
    uris: "{{ item.uri }}"
    suites: "{{ ansible_distribution_release }}"
    signed_by: "/usr/share/keyrings/proxmox-archive-keyring.gpg"
    state: "{{ item.state }}"
    components:
      - "{{ 'no-subscription' if 'no-subscription' in item.name else 'enterprise' }}"
  loop:
    - name: "pve-enterprise"
      uri: "https://enterprise.proxmox.com/debian/pve"
      state: absent
    - name: "pve-no-subscription"
      uri: "http://download.proxmox.com/debian/pve"
      state: present
    - name: "ceph"
      uri: "http://download.proxmox.com/debian/ceph-{{ pve_server_ceph_version.stdout }}"
      state: absent
    - name: "ceph-no-subscription"
      uri: "http://download.proxmox.com/debian/ceph-{{ pve_server_ceph_version.stdout }}"
      state: present
  when: pve_server_apt_source_type.stdout == "sources"

- name: Update Apt Cache
  ansible.builtin.apt:
    update_cache: true

- name: Apt Upgrade
  ansible.builtin.apt:
    name: "*"
    state: latest
    only_upgrade: true

# Set up nginx as a reverse proxy to Proxmox VE Web Interface.
# This makes it possible to access the web ui without adding :8006 to the URL.
# per https://pve.proxmox.com/wiki/Web_Interface_Via_Nginx_Proxy
- name: Install nginx
  ansible.builtin.apt:
    name: nginx
    state: present

- name: Remove default nginx configuration
  ansible.builtin.file:
    state: absent
    path: "{{ item }}"
  loop:
    - /etc/nginx/conf.d/default
    - /etc/nginx/sites-enabled/default
  notify: Restart nginx

- name: Copy nginx configuration for PVE
  ansible.builtin.template:
    src: proxmox.conf.j2
    dest: /etc/nginx/conf.d/proxmox.conf
    owner: root
    group: root
    mode: '0644'
  notify: Restart nginx

- name: Create nginx systemd service override directory
  ansible.builtin.file:
    path: /etc/systemd/system/nginx.service.d
    state: directory
    mode: '0755'
  notify: Restart nginx

- name: Create nginx systemd service override file
  ansible.builtin.blockinfile:
    path: /etc/systemd/system/nginx.service.d/override.conf
    block: |
      [Unit]
      Requires=pve-cluster.service
      After=pve-cluster.service
    create: true
    mode: '0644'
  notify: Restart nginx

- name: "Set up VMs"
  ansible.builtin.include_tasks: vm.yaml
  loop: "{{ pve_server_vms }}"
  loop_control:
    label: "{{ vm.name }}"
    loop_var: vm
