- name: Config
  hosts: hank-docker

  roles:
    - ssh_server
    - role: geerlingguy.docker
      become: true
      vars:
        docker_users:
          - "{{ ansible_user }}"
    - cifs
    - nvidia_headless
